@media (min-width: 769px) {
.cont {
    cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height to your preference */
    position: relative;
  }
  
  .deck {
    position: absolute; /* Changed to absolute */
    width: 800px;
    height: 800px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
  }
  
  .deck > div {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center ;
    
    max-width: 100%; /* Adjust the maximum width to your preference */
    max-height: 100%; /* Adjust the maximum height to your preference */
    width: 800vh; /* Adjust the width to your preference */
    height: 60vh; /* Adjust the height to your preference */
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
}