.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.get-in-touch,
.lets-be-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.linkedin-discord-github,
.insta-face-snap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 253px;
  height: 325px;
  border-radius: 30px;
  margin: 10px;
}
